.home-container {
    background: #f4f6f8;
    min-height: 100vh;
    color: #222;
}

.home-content {
    padding: 100px 40px 40px 40px;
    max-width: 1200px;
    margin: auto;
}

/* HEADER DA SEÇÃO */
.home-header {
    display: flex;
    justify-content: space-between; /* ESQUERDA x DIREITA */
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* TÍTULO */
.home-header h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #222;
}

/* BOTÕES À DIREITA */
.home-actions {
    display: flex;
    gap: 10px;
}

.btn {
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
    color: white;
    font-size: 14px;
}

/* hover padrão */
.btn:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.coletas-containers {
    background: #ac5656;
}

.coleta-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

